.page-title-add{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2.25%;
}
.add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.add button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    object-fit: cover;
    white-space: nowrap;
}