.dashboardStatCards{
    margin: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
}
.graphs{
    margin: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
    height: 275px;
}
.graphs .graph{
    flex: 2;
}
.graphs .piChart{
    flex: 1;
}
/* .dashboardStatCards .dashboardStatCard{
    margin:0px 3%;
}
.dashboardStatCards > :nth-child(3n + 1) {
    margin: 0px;
    margin-right: 3%;
    background-color: #ffeb3b;
}
.dashboardStatCards > :nth-child(3n){
    margin: 0px;
    margin-left: 3%;
    background-color: green;
} */
