body{
    font-size: 16px;
}
.sideBar{
    min-width: 80px;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    transition: all 0.5s ease;
    background-color: rgb(250, 250, 250);
}
a ,.a{  
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 7px;
    font-size: 1em;
    text-decoration: none;
    color: #95a0af;
    margin: 10px;
    border-radius: 5px;
    width: 80%;
}
.logo{
    padding: 0px;
    margin: 5px;
}
.shorten a, .shorten .a{
    justify-content: center;
    transition: all 0.5s ease;
}

a:has(.logo-img){
    justify-content: center;
}
.sideBar a:not(:first-child):hover, .sideBar .a:hover{
    background-color: blueviolet;
    color: white;
}
.sideBar a:not(:first-child):hover .icon-img, .sideBar .a:hover .icon-img{
    filter: invert(100%);
}
.icon{
    width: 1.5em;
    height: 1.5em;
    margin: 0px 8px;
}
.logo-img{
    width: 3em;
    height: 3em;
}
img{
    width: 100%;
    height: 100%;
}
.icon-img{
    filter: invert(55%) sepia(6%) saturate(200%) hue-rotate(170deg) brightness(94%) contrast(90%);
}

.text{
    font-weight: 500;
}
.hidden{
    /* opacity: 0;
    transition: opacity 1s ease; */
    display: none;
}
.shorten{
    min-width: 40px;
    width: 10vw;
    transition: all 0.5s ease;
}
hr{
    width: 80%;
    height: 1px;
    background-color: #c3c3c3; 
    border: none;
}
@media screen and (max-width: 1080px) {
    body{font-size: 16px;}
}

@media screen and (max-width: 720px) {
    body{font-size: 12px;}
}

@media screen and (max-width: 480px) {
    body{font-size: 8px;}
}

@media screen and (max-width: 320px) {
    body{font-size: 4px;}
}