.login-container {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}
.left-side {
  flex: 1;
  background: linear-gradient(180deg, #5a00d2, #7000d4);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.right-side {
  flex: 1;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.right-side .login-form .title {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.logo-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100%;
}
.logo {
  width: 30%;
  max-width: 500px;
}
.tagline {
  font-size: 14px;
  font-weight: 300;
}
.illustration {
  width: 50%;
  max-width: 300px;
}
.login-form {
  width: 80%;
  max-width: 450px;
}
.login-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.login-form .highlight {
  color: blueviolet;
}
.login-form h3 {
  font-size: 18px;
  margin: 20px 0;
}
.login-form input[type="email"],
.login-form input[type="password"] {
  color: black;
  background-color: transparent;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0.75em 0 1.5em; */
}
.remember-me {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 0.75em;
}
.toggle-switch {
  position: relative;
  width: 2.5em;
  height: 1.25em;
}
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 2em;
}
.slider::before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  top: 2px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.toggle-switch input:checked + .slider {
  background-color: blueviolet;
}
.toggle-switch input:checked + .slider::before {
  transform: translateX(1.25em);
}
.remember-text {
  font-size: 0.8em;
  white-space: nowrap;
}
.options a {
  font-size: 14px;
  color: blueviolet;
  text-decoration: none;
}
/* button {
    width: 100%;
    background: blueviolet;
    color: white;
    padding: 0.8em;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    cursor: pointer;
}
button:hover {
    background: rgb(150, 55, 240);
} */

.login-container button {
  width: 100%;
}
button {
  background: blueviolet;
  color: white;
  padding: 0.8em;
  border: none;
  border-radius: 0.5em;
  font-size: 1em;
  cursor: pointer;
}
button:hover {
  background: rgb(150, 55, 240);
}

.logo-section .img{
  width: 100%;
  height: 100%;
}