.table-container button {
  width: auto;
  background: auto;
  border: medium none;
  color: blueviolet;
  list-style: auto;
  margin: auto;
  padding: auto;
  text-align: auto;
  text-decoration: auto;
  text-indent: auto;
}
.table-container button:hover {
  color: rgb(165, 91, 235);
}
.table-container input {
  width: auto;
  background: auto;
  border: medium none;
  color: blueviolet;
  list-style: auto;
  margin: auto;
  padding: auto;
  text-align: auto;
  text-decoration: auto;
  text-indent: auto;
}
.table-container {
  padding: 0px;
  margin: 0px;
}
.table-container th {
  padding: 0px;
  margin: 0px;
}
.MuiTableCell-root {
  text-align: center !important;
}