.app-layout{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 100%;   
    padding: 0px;
    margin: 0px;
    gap: 0;
    box-sizing: border-box;
    /* width: 100vw;
    height: 100vh; */
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 98vw;
    /* width: 100vw;
    height: 100vh; */
}

.main-content{
    width: 100%;
    min-height: 90vh;
    background-color: rgb(225, 225, 225);
    border-radius: 10px;
}

@media screen and (max-width: 924px) {
    .app-layout{
        width: 95vw;
    }
    .nav{
        width: 94%;
    }
    .main-content{
        width: 100%;
    }
}